<!DOCTYPE html>
<html>
<head>
  <title>GoFavorIt</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="http://i.icomoon.io/public/temp/4d3f767796/UntitledProject2/style.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

  <div class="container-fluid">

    <div class="">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>

      <div class="pull-left" style="max-width:140px; margin-top: 5px; margin-left: -10px;">
        <%= link_to(image_tag("gofavorit-green.png"), root_path) %>
      </div>

    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">


          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="glyphicon glyphicon-gift"></i>
            Favors<b class="caret"></b></a>
          <ul class="btn-group select select-block mbl">

            <li><%= link_to "View Offers", offers_path %></li>
            <li><%= link_to "View Requests", requests_path %></li>
            <% if user_signed_in? %>
                <li><%= link_to "Add Offer", new_offer_path %></li>
            <% else %>
                <li><%= link_to "Add Offer", new_user_session_path %></li>
            <% end %>
            <% if user_signed_in? %>
                <li><%= link_to "Add Request", new_request_path %></li>
            <% else %>
                <li><%= link_to "Add Request", new_user_session_path %></li>
            <% end %>
          </ul>
        </li>

        <% if user_signed_in? %>

            <li><%= link_to conversations_path, :method => :get do %>
                  <i class="glyphicon glyphicon-envelope"></i> Inbox
              <% end %>

              <% if current_user.mailbox.inbox({:read => false}).count > 0 %>
          <span class="navbar-new">
              <%= current_user.mailbox.inbox({:read => false}).count %>
          </span>
                  </li>
              <% end %>
              <% @user = current_user %>
              <li><%= link_to user_path(@user.id), :method => :get do %>
                    <i class="glyphicon glyphicon-home"></i> Profile
                <% end %>
              </li>
        <% end %>

        <% if user_signed_in? %>
            <li><%= link_to help_pages_path do %>
                  <i class="glyphicon glyphicon-question-sign"></i> Help
              <% end %>
            </li>
            <li class="active"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to help_pages_path do %>
                  <i class="glyphicon glyphicon-home"></i> Help
              <% end %>
            </li>
            <li class="active"><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>      </ul>


      <% if user_signed_in? %>


          <div style="margin-left: 5px" class="round-image-50">
            <%= image_tag(current_user.logo.url(:small)) %>

          </div>
          <%= current_user.try(:name) %>


      <% end %>

      <div class="navbar-form navbar-right"><%= form_tag(offers_path, :method => :get) do %>
            <%= text_field_tag :search, nil,
                               {:id => "search-query-2", :placeholder => "Search offers..."} %>
            <%= hidden_field_tag :use_keywords, "true" %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="headerbar2">

  </div>

</nav>

<div style="padding-top: 60px; margin: 10px">
  <h4>Toronto, ON</h4>

</div>



  <p class="alert alert-success">
    <%= notice %></p>
  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>


<!--<div class="logo page-header">-->

<!--</div>-->
<div class="headerbar2">

</div>
<div class="col-sm-3 col-md-2 sidebar-offcanvas well" id="sidebar" role="navigation">
  <ul class="nav nav-list">
    <li class="nav-header">Find Offers</li>


    <li><%= link_to "Carpooling", offers_path(:category => {:category => "Carpooling"}) %></li>
    <li> <%= link_to "Tutoring", offers_path(:category => {:category => "Tutoring"}) %></li>
    <li><%= link_to "Studying", offers_path(:category => {:category => "Studying"}) %></li>
    <li><%= link_to "Career", offers_path(:category => {:category => "Career"}) %></li>
    <li><%= link_to "Art", offers_path(:category => {:category => "Art"}) %></li>
    <li><%= link_to "Culture", offers_path(:category => {:category => "Culture"}) %></li>
    <li><%= link_to "Learning", offers_path(:category => {:category => "Learning"}) %></li>
    <li><%= link_to "Events", offers_path(:category => {:category => "Events"}) %></li>
    <li><%= link_to "Delivery", offers_path(:category => {:category => "Delivery"}) %></li>
    <li><%= link_to "Labor", offers_path(:category => {:category => "Labor"}) %></li>
    <li><%= link_to "Social", offers_path(:category => {:category => "Social"}) %></li>


  </ul>

  <ul class="nav nav-list">
    <li class="nav-header">Find Requests</li>


    <li><%= link_to "Carpooling", requests_path(:category => {:category => "Carpooling"}) %></li>
    <li> <%= link_to "Tutoring", requests_path(:category => {:category => "Tutoring"}) %></li>
    <li><%= link_to "Studying", requests_path(:category => {:category => "Studying"}) %></li>
    <li><%= link_to "Career", requests_path(:category => {:category => "Career"}) %></li>
    <li><%= link_to "Art", requests_path(:category => {:category => "Art"}) %></li>
    <li><%= link_to "Culture", requests_path(:category => {:category => "Culture"}) %></li>
    <li><%= link_to "Learning", requests_path(:category => {:category => "Learning"}) %></li>
    <li><%= link_to "Events", requests_path(:category => {:category => "Events"}) %></li>
    <li><%= link_to "Delivery", requests_path(:category => {:category => "Delivery"}) %></li>
    <li><%= link_to "Labor", requests_path(:category => {:category => "Labor"}) %></li>
    <li><%= link_to "Social", requests_path(:category => {:category => "Social"}) %></li>


  </ul>

</div>


<div class="col-sm-9 col-md-10 main">
  <%= yield :scripts %>
  <%= yield %>

</div>
</body>

</html>
